@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);

    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);

    --box-shadow: 11px 11px 22px #171717, -11px -11px 22px #1d1d1d;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text);
}

feed {
    display: flex;
    flex-direction: column;
}

h1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#drawing-board {
    display: flex;
    min-height: 80vh;
    display: block;
    margin: auto;
    background-color: white;
}

.container {
    width: 100%; /* Make the canvas fill the container */
    height: 100%; /* You can set a specific height or percentage */
    display: block; /* Prevents extra space inside the container */
}

#toolbar {
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
    padding: 4px 8px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    background-color: var(--foreground);
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#toolbar * {
    text-align: center;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: var(--dark-gray);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 12px;
    text-align: center;
}

#stroke {
    max-width: 32px;
    min-height: 32px;
}

.canvas-options {
    display: flex;
    gap: 12px;
}

.stroke-width-change {
    width: 150px;
}

.stroke-width-change input[type="number" i] {
    max-width: 32px;
    padding: 2px;
}

#toolbar svg path {
    stroke: white;
    stroke-width: 1px;
}

#imageLoader {
    display: none;
}

.custom-file-upload {
    border-radius: 5px;
    background-color: var(--dark-gray);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

aside {
    height: auto;
    flex: 1;
    box-shadow: none;
    background-color: var(--foreground);
}

.left-bar {
    border-right: 1px solid var(--gray);
}

.right-bar {
    border-left: 1px solid var(--gray);
}
