
.groupSection{
    width: 80%;
}

.groupContainer{
    display: grid;
    background-color: yellow;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    height: auto;
}

.group{
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 256px;
    height: 150px;
    font-size: 30px;
    text-align: center;
}


.addGroup{
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 256px;
    height: 150px;
    font-size: 30px;

}

