@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);

    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);

    --box-shadow: none;
}

.setting {
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    background-color: var(--foreground);
    width: 80%;
    height: 80%;
    gap: 50px;
}

.settings-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

feed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.settings-options {
    width: 200px;
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.settings-box {
    width: 100%;
    height: 100%;
    display: flex;
}

article {
    height: 90%;
    display: none;
    position: relative;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

article::-webkit-scrollbar {
    display: none;
}

article.on {
    display: block;
}

label {
    padding: 20px 25px 20px 20px;
    cursor: pointer;
    font-size: 18px;
}

label:hover {
    background-color: var(--accent);
}

article {
    padding: 0px 20px;
}

.setting span {
    font-size: 24px;
}

input[type="text"].change-group-name {
    padding: 10px;
    width: 250px;
    border-radius: 15px;
}

input[type="submit"].change-group-name {
    padding: 10px 25px;
    border-radius: 15px;
    width: 100px;
    background-color: var(--foreground);
    color: var(--text);
    border: 1px solid var(--text);
}

.change-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.wrapper {
    margin-bottom: 50px;
}

.submit-button {
    margin-top: 25px;
    padding: 5px 25px;
    border-radius: 15px;
    border: 1px solid var(--text) !important;
}

.delete-group {
    cursor: pointer;
    padding: 10px 35px;
    color: var(--text);

    background: none;
    border: 1px solid var(--text);
    border-radius: 15px;
}

.avatar img {
    border-radius: 100px;
    aspect-ratio: 1;
    width: 50px;
    height: auto;
    border: 1px solid var(--gray);
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    .avatar-edit {
        position: absolute;
        right: 70px;
        z-index: 1;
        input {
            display: none;
            + label {
                display: inline-block;

                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 100%;
        border: 2px solid #f8f8f8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
