:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);

    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);

    --box-shadow: none;
}

main {
    max-width: 1128px;
    width: 100%;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    box-sizing: border-box;
}

a {
    color: var(--text);
}

.heading {
    text-align: center;
    font-size: 24px;
    display: block;
}

.groupSection {
    background-color: var(--foreground);
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.groupDisplay {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 10px;
}

.groupDisplay > div {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    cursor: pointer;
}

button.group > svg > path {
    fill: var(--text);
    stroke: none;
}

button.group > svg {
    width: 80px;
    height: 80px;
}

.groupIcon {
    max-height: 120px;
    max-width: 120px;
}

.friendBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--foreground);
    width: 20%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.friendList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}

friend {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

friend img {
    aspect-ratio: 1;
    width: 30%;
    border-radius: 100px;
}

.viewMore {
    text-align: center;
    text-decoration: none;
    color: var(--text);
}
