@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);

    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);

    --box-shadow: none;
}

.feed > input[type="text"] {
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid var(--gray);
}

/* main */

a {
    color: var(--text);
}

main {
    max-width: 1128px;
    width: 100%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

/* main profile */
main profile {
    max-width: 225px;
    width: 25%;
    min-height: 300px;
    border-radius: 10px;
    flex: 1;
}

main > profile > div:first-child > div:nth-child(2) > div > h3 {
    margin-bottom: 5px;
    font-weight: 500;
}

main profile h4 {
    font-weight: 500;
}

main > profile > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.pfp {
    margin-top: -37.5px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

#occupation {
    font-size: 14px;
    margin-top: 0;
}

#Banner {
    height: 60px;
    width: 100%;
    background-color: var(--text);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#pfp-outline {
    height: 80px;
    width: 80px;
    background-color: var(--foreground);
    border-radius: 100px;
    overflow: 1;
    margin: -80px auto 0px auto;
}

/* group */

@keyframes slideaway {
    from {
        opacity: 0;
    }
    to {
        display: block;
    }
}

.group {
    max-width: 100px;
    min-height: 275px;
    max-height: 300px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 500ms linear;
    p {
        display: none;
        padding: 0;
        margin: 0;
    }
}

.group.active {
    transition: all 500ms linear;
    max-width: 225px;
    p {
        animation: slideaway 500ms;
        display: block;
        opacity: 1;
    }
}

.placeholder-img {
    transition: all 500ms linear;
    background-color: var(--gray);
    aspect-ratio: 1;
    width: 50px;
    height: 100%;
}

.groupButton {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

#tile3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* feed */

.feed {
    flex: 4;
    margin: 0 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed > div:first-child {
    max-width: 561px;
    width: 100%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover;
}

.feed-create-post-button {
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    display: flex;
    background-color: var(--foreground);
    border-radius: 25px;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1128px;
    font-size: 20px;
    font-weight: 700;
}

.feed-create-post-container {
    top: 5%;
    left: 0;
    right: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 750px;
    background-color: var(--foreground);
    border-radius: 25px;
    height: 90%;
    z-index: 999;
    display: none;
}

.feed-create-post-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: default;
}

.tags-container {
    width: 80%;
}

.tags-box {
    border: 1px solid var(--dark-gray);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 100%;
    height: 125px;
    overflow-y: scroll;
}

.tags-box div {
    padding: 5px 20px;
}

.caption-container {
    width: 80%;
}

.feed-create-post-captions {
    width: 100%;
}

.feed-create-post-container input[type="submit"] {
    padding: 10px 50px;
    border-radius: 15px;
    border: 1px solid var(--text);
    color: var(--text);
    background: none;
    font-size: 20px;
}

/* Screen sizes between 1150 and 1200 */
@media only screen and (max-width: 1200px) {
    main {
        max-width: 960px;
    }
}

/* Screen sizes between 1000 and 1150 */
@media only screen and (max-width: 1150px) {
    nav > section:first-child {
        padding-left: 5%;
    }

    nav > section:nth-child(2) {
        padding-right: 5%;
    }
}

/* Screen sizes between 800 and 1000 */
@media only screen and (max-width: 1000px) {
    main groups {
        margin: 0 5% 0 2%;
    }

    main profile {
        display: none;
    }

    .feed {
        flex: 4;
        margin: 0 5%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    nav > section > ul > li > a > span,
    nav > section > ul > li > span {
        display: none;
    }

    nav img {
        width: 24px;
        height: 24px;
    }
}

/* Screen sizes 800 and down */
@media only screen and (max-width: 800px) {
    main {
        margin-top: 25px;
    }

    main .group {
        display: none;
    }

    nav {
        border-top: solid 1px var(--gray);
        z-index: 999;
        top: auto;
        bottom: 0;
    }

    nav > section:nth-child(2) {
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav > section:first-child,
    nav > section:nth-child(2) > ul > li:nth-child(6),
    nav > section:nth-child(2) > ul > li:nth-child(7),
    nav > section:nth-child(2) > ul > a {
        display: none;
    }

    nav > section:nth-child(2) > ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    nav > section > ul > li:nth-child(2),
    nav > section > ul > li:nth-child(3) {
        display: block;
    }

    subnav {
        display: block;
        position: fixed;
        top: 0;
        z-index: 999;
    }

    feed > section {
        display: none;
    }

    .posts {
        margin-top: 40px;
    }

    .noti {
        width: 24px;
        height: 24px;
    }

    subnav > ul > li:first-child,
    subnav > ul > li:nth-child(2) {
        width: 32px;
    }

    #subnav-search {
        width: 100%;
    }

    subnav > ul > li > input {
        height: 24px;
        border-radius: 10px;
    }

    .feed-create-post-button {
        display: none;
    }
}

.fyp-filter {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
    font-size: 16px;
}
