@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --send-button: var(--dark-text);

    --input-border: var(--text);

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);

    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --send-button: var(--light-text);

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --input-border: none;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);

    --box-shadow: 11px 11px 22px #171717, -11px -11px 22px #1d1d1d;
}

body {
    box-sizing: border-box;
    background-color: var(--background) !important;
    width: 100%;
    overflow-y: hidden;
}

nav {
    border-bottom: 1px solid var(--gray);
    position: relative !important;
}

main {
    max-width: none !important;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}

.chatter-container {
    overflow: hidden;
    display: flex;
    height: 95vh;
    width: 100%;
}

div.chatter-list {
    width: 100%;
    flex: 1;
    height: 100%;
    overflow: auto;
    min-width: 100px;
}

.chatter-list::-webkit-scrollbar {
    display: none;
}

div.chatter-info {
    width: 100%;
    flex: 1;
}

.chatter-chat {
    height: 100%;
    width: 100%;
    overflow-y: auto;

}

.chatter-chat::-webkit-scrollbar {
    display: none;
}

.chatter-send-message input {
    border: 1px solid var(--input-border);
    width: 100%;
    border-radius: 50px;
}

.chatter-send-message button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text);
    border-radius: 100px;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.chatter-send-message path {
    stroke: var(--text);
    stroke-width: 1px;
}

.chatter-sender {
    padding: 0 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 700px;
    margin-top: 50px;
}
.chatter-reciever {
    float: right;
    padding: 0 20px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    flex-direction: column;
    max-width: 700px;
}

.chatter-chat-reciever {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-bottom: 60px;

}
.chatter-chat-sender {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-bottom: 20px;
}

.chatter-chat-info {
    display: flex;
    gap: 10px;
}

.chatter-sender img {
    width: 42px;
    height: 42px;
    border-radius: 100px;
}

.chatter-reciever img {
    width: 42px;
    height: 42px;
    border-radius: 100px;
}

.chatter-sender .chat {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.chatter-reciever .chat {
    box-sizing: border-box;
    background-color: #3797f0;
    padding: 10px;
    border-radius: 5px;
}

.chatter-list-user {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--dark-gray);
}

.chatter-list-user img {
    border-radius: 100px;
    width: 48px;
    height: 48px;
}

.chatter-box-chat-containers {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 3;
}

.chatter-box {
    position: relative; /* Add this line to set position relative */
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--gray); /* Add a border */
    border-radius: 5px; /* Add border radius for a boxy appearance */
    padding: 10px; /* Add padding for content spacing */
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-bottom: 10px;
    overflow: hidden; /* Add this line to prevent overflow from the absolutely positioned element */
}

.chatter-send-message {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}


#msgInput{
    display: block;
    width: 600px;
    height: 80px;

    margin-right: 40px;
    margin-left: 200px;
    margin-bottom: 20px;
}
#msgInput input{

    padding: 20px;
}


