:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);

    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);

    --box-shadow: none;
}

.banner-profile {
    display: block;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.banner-profile > div:first-child {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 300px;
    background-color: grey;
    border-radius: 10px 10px 0 0;
}

.banner-profile-edit {
    margin-top: 24px;
    margin-right: 5%;
    width: 24px;
    height: 24px;
}

div.banner-profile-info {
    background-color: var(--foreground);
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    div:nth-child(5) {
        max-height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
}

.profilePic img {
    max-width: 155px;
    max-height: 155px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100px;
    margin-top: -77.5px;
    margin-left: 25px;
    z-index: 1;
    position: absolute;
}

.profilePicBorder {
    background-color: var(--foreground);
    max-width: 170px;
    max-height: 170px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin-top: -85px;
    margin-left: 18px;
    z-index: 0;
    position: absolute;
}

.banner-profile-person {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 200px;
}

.banner-profile-name {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.banner-profile-name h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.banner-profile-user {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: var(--gray);
}

.banner-profile-user h4 {
    padding: 10px 0px;
    margin: 0;
    font-size: 18px;
    color: var(--gray);
}

.banner-profile-info > div.divider {
    margin-top: 30px;
}

.banner-profile-options {
    padding: 16px 10px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    div:first-child {
        display: flex;
        gap: 100px;
    }
}

main {
    max-width: 1128px;
    width: 100%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.profile-bio {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--foreground);
    width: 60%;
    height: 100%;
    max-height: 300px;
    min-height: 300px;
    box-shadow: var(--box-shadow);
}

.profile-bio h3 {
    position: left;
}

.profile-bio bio {
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.profile-bio div {
    padding-top: 16px;
    font-size: 20px;
    font-weight: 500;
}

.profile-post-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

bside.profile-posts {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

section.profile-info-groups {
    margin: 50px 0;
    background-color: var(--foreground);
    width: 100%;
    height: auto;
    box-shadow: --box-shadow;
    border-radius: 10px;
    display: none;
}

section.profile-info-display {
    gap: 20px;
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
}

div.profile-info-groups-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    padding: 50px;
    display: block;
}

div.profile-info-groups-container > * {
    margin: 10px;
}

.profile-info-groups-container > div {
    width: 200px;
    height: 200px;
    background-color: var(--gray);
    position: relative;
    text-align: center;
}

img.profile-info-groups-group {
    cursor: pointer;
    font-size: 24px;
    width: 200px;
    height: 200px;
    transition: all 200ms ease-in;
}

.profile-info-groups-name {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--text);
    font-size: 24px;
    opacity: 0;
    transition: all 200ms ease-out;
}

.profile-info-groups-group-container:hover {
    img.profile-info-groups-group {
        opacity: 0.3;
        transition: all 200ms ease-in;
    }
    .profile-info-groups-name {
        opacity: 1;
        transition: all 500ms ease-in;
    }
}

.profile-info-about {
    display: none;
    box-sizing: border-box;
}

.aboutContainer {
    box-sizing: border-box;
    padding: 25px;
    background-color: var(--foreground);
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.aboutContainer h1 {
    font-size: 35px;
    margin: none;
}

#leftMainHeading {
    float: left;
    border-right: solid 0.5px;
    margin: none;
    width: 20%;
    height: 100%;
}

#leftMainHeading h1 {
    margin-left: 5px;
    margin-bottom: 1px;
    font-size: 25px;
}

#leftMainHeading h2 {
    margin-bottom: 5px;
    margin-left: 12px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 30px;
}
#leftMainHeading h2:hover {
    background-color: #f64c72;
}

#leftMainHeading p {
    margin-top: 0px;
    margin: 10px;
    font-size: 30px;
}

#rightInfo {
    float: left;
    margin: 10px;
    margin-top: 0px;
    width: 70%;
}

#overview {
    display: block;
}

#contact {
    display: none;
}

#profileInfo {
    display: none;
}

#friends {
    background-color: var(--foreground);
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#friends h1 {
    margin: 20px;
    padding: 20px;
}

.profile {
    display: inline-block;
    margin: 20px;
    width: 160px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
}

.profile p {
    float: left;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.profile img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.follow-button {
    color: var(--text);
    border: 1px solid var(--text);
    padding: 10px 20px;
    border-radius: 20px;
}
