:root {
    --offwhite: #ebebeb;
    --white: white;
    --gray: #c2c2c2;
}

.banner-profile {
    display: block;
    width: 100%;
}

.banner-profile > div:first-child {
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: grey;
    border-radius: 20px 20px 0 0;
}

div.banner-profile-info {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    div:nth-child(5) {
        max-height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
}

.profilePic img {
    max-width: 155px;
    max-height: 155px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100px;
    margin-top: -77.5px;
    margin-left: 25px;
    z-index: 1;
    position: absolute;
}

.profilePicBorder {
    background-color: var(--white);
    max-width: 170px;
    max-height: 170px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin-top: -85px;
    margin-left: 18px;
    z-index: 0;
    position: absolute;
}

.banner-profile-person {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 200px;
}

.banner-profile-name {
    font-size: 28px;
}

.banner-profile-user {
    font-size: 20px;
    color: var(--gray);
}

.divider {
    margin-top: 50px;
}

.banner-profile-options {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    div:first-child {
        display: flex;
        gap: 100px;
    }
}

main {
    max-width: 1128px;
    width: 100%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
