
main section{
    height: auto;
}

.settingsLinks {
    display: inline-block;
    float: left;
    height: auto;
    width: 20%;
    margin: 20px;
    border-right:1px solid black;
   
}

.settingsContent {

    display: inline-block;
    margin: 20px;
    padding-left: 10px;
    width: 70%;
    float: left;
}



#general{
    color: black;
}


#account{
    color: black;
    display: none;
}
#updateEmail{
    color: blue;
    display: none;
}
#updatePassword{
    color: blue;
    display: none;
}