@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 2px;

    --background: var(--light-bg);
    --foreground: var(--light-bg-s);
    --text: var(--light-text);
    --svg: var(--dark-gray);
    --svg-stroke: var(--stroke);
    --fill-color-back: var(--light-bg);

    --border: 1px solid var(--gray);
    --box-shadow: 0 4px 8px -6px #181818;
}

.darkmode {
    --light-bg: #ebebeb;
    --light-bg-s: white;
    --light-text: black;

    --dark-gray: #646464;

    --dark-bg: #1a1a1a;
    --dark-bg-s: #292929;
    --dark-text: #ffffff;

    --gray: #c2c2c2;
    --accent: #f64c72;
    --stroke: 1px;

    --background: var(--dark-bg);
    --foreground: var(--dark-bg-s);
    --text: var(--dark-text);
    --svg: var(--light-bg-s);
    --svg-stroke: var(--stroke);
    --fill-color-back: var(--light-bg);

    --box-shadow: none;
    --border: none;
}

main section {
    height: auto;
}

#settingsHeading {
    margin-top: 70px;
    padding: 20px;
    padding-bottom: 0px;
    cursor: pointer;
}
.settingsLinks {
    display: inline-block;
    float: left;
    height: auto;
    width: 20%;
    margin: 20px;
    padding: 5px;
    border-right: 1px solid var(--text);
}
.settingsLinks h3 {
    margin-left: 10px;
}

h1,
h3 {
    padding: 10px;
    margin: 0;
    font-weight: 600;
}

.settingsLinks h3:hover {
    background-color: hotpink;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.settingsLinks h1:hover {
    background-color: hotpink;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.settingsContent {
    display: inline-block;
    margin: 20px;
    width: 70%;
    height: auto;
    padding: 5px;
}

.updateTitle {
    font-size: 48px;
    padding-top: 0px;
    margin-top: 0px;
}

.settingsContent p {
    font-size: 20px;
}

#privacy {
    display: none;
}

#account {
    display: none;
}

#account p {
    margin-top: 0px;
}

#account h1 {
    margin-bottom: 0px;
}
#profileLink {
    background-color: turquoise;
    cursor: pointer;
    border-radius: 10px;
}

#accessibility {
    display: none;
}

#updateEmail {
    display: none;
}

#updateBio {
    display: none;
}

.settingsContent p {
    margin: 20px;
    padding: 10px;
    margin-bottom: 0px;
}

.settingsContent h1 {
    margin-bottom: 0px;
}

.settingsContent button {
    background-color: var(--foreground);
    margin: 20px;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
}

.settingsContent input {
    background-color: var(--fill-color-back);
    color: black;
    border: 1px solid var(--text);
    height: 40px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px;
}

.settingsContent input[type="text"] {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    margin: 8px 0;
    box-sizing: border-box;
}

#updateName {
    display: none;
}

#updatePassword {
    display: none;
}

#privacyPolicy {
    display: none;
}

#accountPrivacy {
    display: none;
}
.inline {
    display: inline;
}

#deleteAccount {
    display: none;
}

.profileSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    margin-top: 20px;
    height: 34px;
}

.profileSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.settingsContent .divider {
    margin: 25px 0px;
}

.info-display {
    display: flex;
}

.info-display p {
    margin: 0 !important;
}

.info-cat {
    font-weight: 700;
}

.personal-info {
    display: flex;
    flex-direction: column;
}

.avatar img {
    border-radius: 100px;
    aspect-ratio: 1;
    width: 150px;
    height: auto;
    border: 1px solid var(--gray);
}

.banner {
    position: relative;
    max-width: 100%;
    height: 300px; /* Set your desired height */
    .banner-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .banner-preview {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 12px; /* Set your desired border-radius */
        border: 6px solid #f8f8f8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.banner span {
    font-size: 28px;
    color: var(--text);
}

.avatar-upload {
    margin-top: -102.5px;
    position: relative;
    max-width: 205px;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #f8f8f8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
