@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
    --offwhite: #ebebeb;
    --white: white;
    --gray: #c2c2c2;
}

/* general use */

body {
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--offwhite);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}

.tile {
    background-color: var(--white);
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px -6px #181818;
}

.inline {
    display: flex;
    gap: 10px;
}

.rounded {
    border-radius: 10px;
}

.divider {
    background-color: var(--gray);
    width: 100%;
    height: 1px;
}

/* Nav */
/* nav */
nav {
    z-index: 1;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: var(--white);
    display: flex;
    height: 60px;
}

nav > section:first-child {
    display: flex;
    align-items: center;
    max-width: 564px;
    flex: 1;
    margin-left: auto;
}

nav > section:nth-child(2) {
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 564px;
    flex: 2;
    justify-content: end;
    align-items: center;
}

nav > section:nth-child(2) > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav > section > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    color: black;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(22deg) brightness(97%)
        contrast(102%);
}

nav > section > ul > li:nth-child(2),
nav > section > ul > li:nth-child(3) {
    display: none;
}

nav > section > ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

nav img {
    height: 20px;
    width: 20px;
}

/*search Bar */
nav form {
    position: relative;
    top: 50%;
    display: inline;
    transform: translate(0%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

nav input {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 16px;
    padding: 0 15px;
    border-bottom: 1px solid black;
}

nav input {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 15px;
    border-bottom: 1px solid var(--gray);
    padding: 0 15px;
}

nav .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

nav form:hover,
form:valid {
    width: 80%;
    cursor: pointer;
}

nav form:hover input,
form:valid input {
    display: block;
}

nav form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: white;
}

nav .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

nav form:hover,
form:valid {
    width: 80%;
    cursor: pointer;
}

nav form:hover input,
form:valid input {
    display: block;
}

nav form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: white;
}

.nav-profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.linksBar {
    justify-content: space-between;
    align-items: center;
}

.dropButton {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    margin-top: 60px;
    margin-left: -80px;
    width: 200px;
    transition: opacity 0.3s ease;
    background-color: var(--white);
    color: black;
    visibility: hidden;
    opacity: 0;
    border-top: none;
    box-shadow: 0 4px 8px -6px #181818;
}

.dropdown-content.active {
    visibility: visible;
    opacity: 1;
    transition: all 300ms linear;
    transform: translateY(-40px);
}

.dropdown-content a {
    cursor: pointer;
    padding: 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    color: black;
}

/* secondary nav for mobile use mainly */
subnav {
    top: 0;
    background-color: var(--white);
    padding: 10px;
    width: 100%;
    height: 32px;
    display: none;
}

subnav ul {
    padding: 0;
    margin: 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* Svg */

path {
    fill: none;
    stroke: #646464;
    stroke-width: 2px;
    stroke-linejoin: round;
}

svg {
    padding: 0px 5px;
    height: 24px;
    width: 24px;
}

button.like.active > svg > path {
    fill: red;
    stroke: none;
}

/* Close Button */

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 24px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/* Posts */
/* Start Post */

.start-post {
    height: 120px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 8px -6px #181818;
}

/* Actual Posts */

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--offwhite);
}

.posts {
    max-width: 561px;
    margin-bottom: 50px;
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px -6px #181818;
}

.post-image {
    width: 100%;
}

.post-image img {
    max-width: 561px;
    width: 100%;
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    display: block;
    max-height: 700px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}

.post-comment-button > svg > path {
    cursor: pointer;
}

.user-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 5px;
}

.user-post-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-post-name > span:nth-child(2) {
    font-size: 12px;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.post-options {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}

.comment-post-options {
    display: flex;
    gap: 30px;
    margin-left: 0px;
}

.create-post-options {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.pin {
    margin-right: 10px;
}

#post-options {
    justify-content: center;
}

#make-post {
    width: 75%;
    height: 40px;
    border-radius: 20px;
    outline: none;
}

#post-line {
    justify-content: center;
    margin: 15px auto 0px auto;
    align-items: center;
}

/* Pre-viewing the post */
/* Dimming Background */
.dimmed {
    position: relative;
}

.dimmed:after {
    position: relative;
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.dimmed.active:after {
    display: block;
    animation: slideaway 200ms;
}

/* Actual Preview */

prepost {
    top: 5%;
    position: fixed;
    left: 0;
    right: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    z-index: 999;
    display: none;
    animation: slideaway 100ms;
}

/* Image section (left) */

.expanded-post {
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.expanded-post > img {
    max-height: 100%;
    min-height: 500px;
    max-width: 100%;
    width: auto;
}

.post-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

/* Comment Section (right) */

.comment-header {
    margin: 20px 2.5% 2.5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user-container {
    display: flex;
}

.comments-column {
    border-radius: 0 25px 25px 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--gray);
    width: auto;
    max-width: 40%;
    height: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.comment-replies-container {
    width: 100%;
    padding: 0;
}

.comment-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 1%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-container::-webkit-scrollbar {
    display: none;
}

.comment-container > div:nth-child(4) {
    margin-top: auto;
}

.comment-create-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
}

.comment-create-container > form {
    width: 100%;
    height: 100%;
    padding: 0;
}

.comment-create-container > form > input {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid var(--gray);
    margin: 0;
    padding: 0 15px;
}

.comment-create {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    max-height: 48px;
}

.comment-text > p {
    font-size: 14px;
}

#more {
    display: none;
}

.comment-user-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-like > button {
    margin-left: 2.5%;
    margin-top: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.comment-options {
    margin: 10px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    color: var(--gray);
}

.comment-replies {
    width: 90%;
    right: 0;
    margin-left: auto;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}

.user-comment {
    display: flex;
    margin: 10px 20px;
    height: auto;
    width: 100%;
}

.post-options > button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-post-options > button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.caption {
    width: 100%;
    height: auto;
    padding-top: 10px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-content-profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: absolute;
    margin-top: 50px;
    height: auto;
    width: 175px;
    transition: opacity 0.3s ease;
    background-color: var(--white);
    color: black;
    visibility: hidden;
    opacity: 0;
    border-top: none;
    box-shadow: 0 4px 8px -6px #181818;
}

.view-profile {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.settings {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.display {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.logout {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.dropdown-content-profile.active {
    visibility: visible;
    opacity: 1;
    transition: all 300ms linear;
    transform: translateY(-40px);
}

/* Screen sizes between 1000 and 1150 */
@media only screen and (max-width: 1150px) {
    nav > section:first-child {
        padding-left: 5%;
    }

    nav > section:nth-child(2) {
        padding-right: 5%;
    }
}

/* Screen sizes between 800 and 1000 */
@media only screen and (max-width: 1000px) {
    nav > section > ul > li > a > span,
    nav > section > ul > li > span {
        display: none;
    }

    nav img {
        width: 24px;
        height: 24px;
    }
}

/* Screen sizes 800 and down */
@media only screen and (max-width: 800px) {
    nav {
        border-top: solid 1px var(--gray);
        z-index: 999;
        top: auto;
        bottom: 0;
    }

    nav > section:nth-child(2) {
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav > section:first-child,
    nav > section:nth-child(2) > ul > li:nth-child(6),
    nav > section:nth-child(2) > ul > li:nth-child(7),
    nav > section:nth-child(2) > ul > a {
        display: none;
    }

    nav > section:nth-child(2) > ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    nav > section > ul > li:nth-child(2),
    nav > section > ul > li:nth-child(3) {
        display: block;
    }

    subnav {
        display: block;
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .noti {
        width: 24px;
        height: 24px;
    }

    subnav > ul > li:first-child,
    subnav > ul > li:nth-child(2) {
        width: 32px;
    }

    #subnav-search {
        width: 100%;
    }

    subnav > ul > li > input {
        height: 24px;
        border-radius: 10px;
    }
}
