body{    
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    padding: 10px;
    background-color: darkgrey;
  }

nav ul{
    float: right;
    
}
nav ul li{
    margin: 20px;
}

nav img{
    height:25px;
    width:25px;
}


li{
    display: inline;
    float: right;
    padding:1%;
    font-size: 18pt;
}

a{
    text-decoration: none;
}


main{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;

}

main section{
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px;
       
}
main section h1 {
text-align: center;
}

.dropButton{
    border: none;
    cursor: pointer;
    background-color: grey;
}

.dropdown {
    position: relative;
    display: inline-block; 
     
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: grey;
    color: white;
}

.dropdown-content a {
    padding: 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    color: black;
}

/* .tile {

} */

.navSec{
    width: 40%;
    display: inline;
}

#linksBar{float: right;}
#search{float: left;}

#tile2{
    width:48%;
    box-sizing: border-box;
}

#tile1{
    padding-top: 15px;
    background-color:aliceblue;
    border-top-style: solid;
    border-top-color: limegreen;
    border-top-width: 5px;
    height: 100%;
    text-align: center;
}

#tile1 a{
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color:black;
    border-bottom-style: solid;
    border-bottom-color: limegreen;
    border-bottom-width: 2px;
}

@media only screen and (max-width: 768px) {
    [tile*="tile-"] {
        width: 100%;
    }
}
