@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
    --offwhite: #ebebeb;
    --white: white;
    --gray: #c2c2c2;
}

/* general use */

body {
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--offwhite);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
    padding: 0;

    margin: 0;
    outline: none;
}

.tile {
    background-color: var(--white);
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px -6px #181818;
}

.inline {
    display: flex;
    gap: 10px;
}

.rounded {
    border-radius: 10px;
}

input[type="text"] {
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid var(--gray);
}

#divider {
    background-color: var(--gray);
    width: 100%;
    height: 1px;
}

/* nav */
nav {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: var(--white);
    display: flex;
    height: 60px;
}

nav > section:first-child {
    display: flex;
    align-items: center;
    max-width: 564px;
    flex: 1;
    margin-left: auto;
}

nav > section:nth-child(2) {
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 564px;
    flex: 2;
    justify-content: end;
    align-items: center;
}

nav > section:nth-child(2) > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav > section > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    color: black;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(22deg) brightness(97%)
        contrast(102%);
}

nav > section > ul > li:nth-child(2),
nav > section > ul > li:nth-child(3) {
    display: none;
}

nav > section > ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

nav img {
    height: 20px;
    width: 20px;
}

/*search Bar */
nav form {
    position: relative;
    top: 50%;
    display: inline;
    transform: translate(0%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

nav input {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 16px;
    padding: 0 15px;
    border-bottom: 1px solid black;
}

nav input {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 15px;
    border-bottom: 1px solid var(--gray);
    padding: 0 20px;
}

nav .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

nav form:hover,
form:valid {
    width: 80%;
    cursor: pointer;
}

nav form:hover input,
form:valid input {
    display: block;
}

nav form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: white;
}

/* main */
main {
    max-width: 1128px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

nav .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

nav form:hover,
form:valid {
    width: 80%;
    cursor: pointer;
}

nav form:hover input,
form:valid input {
    display: block;
}

nav form:hover .fa,
form:valid .fa {
    background: #07051a;
    color: white;
}

.nav-profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.linksBar {
    justify-content: space-between;
    align-items: center;
}

.dropButton {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -100px;
    width: 200px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--white);
    color: white;
}

.dropdown-content a {
    padding: 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    color: black;
}

/* secondary nav for mobile use mainly */
subnav {
    top: 0;
    background-color: var(--white);
    padding: 10px;
    width: 100%;
    height: 32px;
    display: none;
}

subnav ul {
    padding: 0;
    margin: 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* main */

main {
    max-width: 1128px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

/* main profile */
main profile {
    max-width: 225px;
    width: 25%;
    min-height: 300px;
    border-radius: 10px;
    flex: 1;
}

main > profile > div:first-child > div:nth-child(2) > div > h3 {
    margin-bottom: 5px;
    font-weight: 500;
}

main profile h4 {
    font-weight: 500;
}

main > profile > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.pfp {
    margin-top: -37.5px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

#occupation {
    font-size: 14px;
    margin-top: 0;
}

#Banner {
    height: 60px;
    width: 100%;
    background-color: black;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#pfp-outline {
    height: 80px;
    width: 80px;
    background-color: var(--white);
    border-radius: 100px;
    overflow: 1;
    margin: -80px auto 0px auto;
}

/* main group */
main groups {
    max-width: 225px;
    min-height: 275px;
    max-height: 300px;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

#tile3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.groupContainer {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
}

.groupButton {
    display: flex;
    gap: 10px;
}
.groupButton button {
    background-color: grey;
    height: 50px;
    width: 50px;
}

/* main feed */

.feed {
    flex: 4;
    margin: 0 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover;
}

/* main feed posts */
.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--offwhite);
}

.posts {
    margin-top: 80px;
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px -6px #181818;
}

.post-image {
    width: 100%;
}

.user-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 12px 20px;
}

.start-post {
    height: 120px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 8px -6px #181818;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.post-options {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
.create-post-options {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.pin {
    margin-right: 10px;
}

.icons {
    width: 24px;
    height: 24px;
}

.like {
    filter: invert(25%) sepia(49%) saturate(7446%) hue-rotate(352deg)
        brightness(95%) contrast(131%);
}

#post-options {
    justify-content: center;
}

#make-post {
    width: 75%;
    height: 40px;
    border-radius: 20px;
    outline: none;
}

#post-line {
    justify-content: center;
    margin: 15px auto 0px auto;
    align-items: center;
}

/* Screen sizes between 1150 and 1200 */
@media only screen and (max-width: 1200px) {
    main {
        max-width: 960px;
    }
}

/* Screen sizes between 1000 and 1150 */
@media only screen and (max-width: 1150px) {
    nav > section:first-child {
        padding-left: 5%;
    }

    nav > section:nth-child(2) {
        padding-right: 5%;
    }
}

/* Screen sizes between 800 and 1000 */
@media only screen and (max-width: 1000px) {
    main groups {
        margin: 0 5% 0 2%;
    }

    main profile {
        display: none;
    }

    .feed {
        flex: 4;
        margin: 0 5%;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    nav > section > ul > li > a > span,
    nav > section > ul > li > span {
        display: none;
    }

    nav img {
        width: 24px;
        height: 24px;
    }
}

/* Screen sizes 800 and down */
@media only screen and (max-width: 800px) {
    main {
        margin-top: 25px;
    }

    main groups {
        display: none;
    }

    nav {
        border-top: solid 1px var(--gray);
        z-index: 999;
        top: auto;
        bottom: 0;
    }

    nav > section:nth-child(2) {
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav > section:first-child,
    nav > section:nth-child(2) > ul > li:nth-child(6),
    nav > section:nth-child(2) > ul > li:nth-child(7),
    nav > section:nth-child(2) > ul > a {
        display: none;
    }

    nav > section:nth-child(2) > ul {
        display: flex;
        justify-content: space-around;
    }

    nav > section > ul > li:nth-child(2),
    nav > section > ul > li:nth-child(3) {
        display: block;
    }

    nav > section:nth-child(2) {
        padding: none;
    }

    subnav {
        display: block;
        position: fixed;
        top: 0;
        z-index: 999;
    }

    feed > section {
        display: none;
    }

    .posts {
        margin-top: 40px;
    }

    .noti {
        width: 24px;
        height: 24px;
    }

    subnav > ul > li:first-child,
    subnav > ul > li:nth-child(2) {
        width: 32px;
    }

    #subnav-search {
        width: 100%;
    }

    subnav > ul > li > input {
        height: 24px;
        border-radius: 10px;
    }
}
