:root {
    --offwhite: #ebebeb;
    --white: white;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: var(--offwhite);
    min-height: 100vh;
}

nav {
    margin: 0;
    width: 100%;
    background-color: var(--white);
    display: flex;
    height: 50px;
}

nav > section {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

nav > section:first-child {
    background-color: red;
    max-width: 376px;
    flex: 1;
    margin-left: auto;
}

nav > section:nth-child(2) {
    background-color: yellow;
    max-width: 752px;
    display: flex;
    flex-direction: row;
    flex: 2;
    margin-right: auto;
    justify-content: end;
    align-items: center;
}

nav > section > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    color: black;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(22deg) brightness(97%)
        contrast(102%);
}

nav > section > ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

nav img {
    height: 20px;
    width: 20px;
}

a {
    text-decoration: none;
}

main {
    max-width: 1128px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

main section {
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px;
}
main section h1 {
    text-align: center;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}

.nav-profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.linksBar {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropButton {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -100px;
    width: 200px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--white);
    color: white;
}

.dropdown-content a {
    padding: 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    color: black;
}

.tile {
    background-color: var(--white);
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px -6px #181818;
}

.navBuffer {
    /* display: inline; */
    /* background-color: red; */
    flex-shrink: 15;
    /* flex-grow: 5; */
    /* flex: auto; */
    width: 360px;
    /* height: 15px; */
    /* padding: 10px; */
}
.left {
    float: left;
}
.right {
    float: right;
}

.big {
    font-size: large;
}

.groupContainer {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
    /* background-color: antiquewhite; */
}

.tileLink1 {
    padding: 5px;
    /* margin-top: auto;
    margin-bottom: auto; */
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
    /* padding-top: 20px; */
    /* padding-bottom: ; */
    margin-bottom: 20px;
    display: table;
    color: black;
    border-bottom-style: solid;
    border-bottom-color: limegreen;
    border-bottom-width: 2px;
    /* background-color: aquamarine; */
}
.tileLink2 {
    color: black;
}

.pfp {
    margin-top: -37.5px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.feed {
    margin: 0 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--offwhite);
}

.posts {
    margin-top: 80px;
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px -6px #181818;
}

.post-image {
    width: 100%;
}

.user-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 12px 20px;
}

.inline {
    display: flex;
    gap: 10px;
}

.start-post {
    height: 120px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 8px -6px #181818;
}

.rounded {
    border-radius: 10px;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.post-options {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
.create-post-options {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.pin {
    margin-right: 10px;
}

.icons {
    width: 24px;
    height: 24px;
}

.like {
    filter: invert(25%) sepia(49%) saturate(7446%) hue-rotate(352deg)
        brightness(95%) contrast(131%);
}

#post-options {
    justify-content: center;
}

input[type="text"] {
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
}

#make-post {
    width: 75%;
    height: 40px;
    border-radius: 20px;
    outline: none;
}

#post-line {
    justify-content: center;
    margin: 15px auto 0px auto;
    align-items: center;
}
#Banner {
    height: 60px;
    width: 100%;
    background-color: black;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

#pfp-outline {
    height: 80px;
    width: 80px;
    background-color: var(--white);
    border-radius: 100px;
    overflow: 1;
    margin: -80px auto 0px auto;
}

#linksBar {
    width: 100%;
}
#search {
    /* position: relative; */
    /* float: left; */
    /* flex-grow: 5; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background-color: aliceblue; */
    /* padding: 0px; */
    width: 100px;
}

#tile2 {
    width: 48%;
    box-sizing: border-box;
}

/* hides profile and group sections on home page for smaller screen sizes */
@media only screen and (max-width: 800px) {
    #tile1 {
        display: none;
    }
    #tile2 {
        width: 98%;
    }
    #tile3 {
        display: none;
    }
}
/* left and right side tiles have a fixed width after a certain minimum window size and stick close to main section */
@media only screen and (min-width: 1250px) {
    #tile1 {
        width: 200px;
        border-radius: 10px;
    }
    /* #tile2 {
        
    } */

    #tile3 {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
    }
}

@media only screen and (min-width: 920px) {
    .navBuffer {
        /* background-color: aquamarine; */
        flex-grow: 60;
    }
    .sideBuffer {
        /* background-color: blue; */
        flex-grow: 20;
    }
}

.groupButton {
    display: flex;
    gap: 10px;
}
.groupButton button {
    background-color: grey;
    height: 50px;
    width: 50px;
}
